ES_LOCAL_VERSION=8.15.2
ES_LOCAL_CONTAINER_NAME=anaconda-conda-telemetry-es-local-dev
ES_LOCAL_PASSWORD=password
ES_LOCAL_URL=http://localhost:9200
ES_LOCAL_PORT=9200
ES_LOCAL_HEAP_INIT=128m
ES_LOCAL_HEAP_MAX=2g
KIBANA_LOCAL_CONTAINER_NAME=anaconda-conda-telemetry-kibana-local-dev
KIBANA_LOCAL_PORT=5601
KIBANA_LOCAL_PASSWORD=password
KIBANA_SETTINGS_LOCAL_CONTAINER_NAME=anaconda-conda-telemetry-kibana-settings-local-dev
KIBANA_ENCRYPTION_KEY=VSkF3L43ulLo5O3R5AnJ0DQj0l2ia6HP
ES_LOCAL_API_KEY=X2JDNGE1SUJkNnZxazBOemUwU1o6eWtjUkhnZEdSWDJ5Tlc4cVRuLVk4UQ==
OTEL_LOCAL_CONTAINER_NAME=anaconda-conda-telemetry-otel-local-dev
OTEL_LOCAL_PORT=4317
OTEL_LOCAL_ZPAGES_PORT=55679
OTEL_LOCAL_HEALTH_CHECK_PORT=13133
OTEL_LOCAL_PPROF_PORT=1888
