conda-forge::conda-build
conda-forge::darker
conda-forge::flake8
conda-forge::hatchling
conda-forge::mypy
conda-forge::pyupgrade
conda-forge::pytest
conda-forge::pytest-cov
conda-forge::pytest-mock
conda-forge::pre-commit
